ul.hr {
    text-decoration: none;
    padding: 4px; /* Значение полей */
    background: #006400;
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
}

ul.hr a {
    text-align: left;
}

ul.hr button {
    text-align: left;
    background: #90EE90;
    width: 207px;
    height: 110px;
}

ul.hr button.language{
    margin-bottom: 4px;
    text-align: left;
    padding: 0px;
    background: #90EE90;
    width: 135px;
    height: 110px;
}